<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shops Available</title>
  </head>
  <body>
    <% for(let shop of shops){ %>
    <h3><%= shop.name %></h3>
    <ul style="list-style-type: square">
      <li><%= shop.city %></li>
      <li><%= shop.shopemail %></li>
    </ul>
    <a href="/product/<%= shop.id %>/new">New Product</a>
    <a href="/shop/<%=shop.id%>/detail">Details</a>
    <% } %>
    <div>
      <button onclick="window.location.href ='/shop/new';">New Shop</button>
    </div>
  </body>
</html>
